*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  .Template {
    text-align: center;
  }
  
  .Template-intro {
    font-size: large;
  }
  
  @keyframes Template-logo-spin {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
  }
  