body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root{
  --primary: blue;
  --secondary: red;
  --tertiary: white;
  --sectionBackground: rgba(64, 115, 154, 0.2);
  --headerBackground: #222;
  --linkHover: rgba(255, 255, 255, 0.68);
  --aboutTexts: rgba(255, 255, 255, 0.28);
}